.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fcfdff;
}

h1 {
  color: #151f6d;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.primary-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  position: relative;
  width: 180px;
  height: 48px;
  background-color: #3369f0;
  border: none;
  border-radius: 24px;
  color: white;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s, border-color 0.3s;
}

.primary-button:hover {
  cursor: pointer;
  background-color: #5C87F3;
}

.primary-button:focus {
  border: 2px solid #ADC3F9;
}

.primary-button:active {
  background-color: #5C87F3;
}

.secondary-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 180px;
  height: 48px;
  background-color: transparent;
  border: 1px solid rgba(21, 31, 109, 0.2);
  border-radius: 24px;
  color: #3369F0;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.secondary-button:hover {
  cursor: pointer;
  background-color: #EBF0FE;
}

.secondary-button:focus {
  border: 2px solid #3369F0;
}

.secondary-button:active {
  background-color: rgba(21, 31, 109, 0.1);
  color: #3369F0;
}
