<div class="back" title="Atrás" (click)="goHome()">

  <svg width="64px" height="64px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
    <path fill="#000000" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" />
    <path fill="#000000"
      d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z" />
  </svg>
</div>
<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="input-container">
      <label class="label" for="email">Email:</label>
      <div class="field">
        <input class="input-field" type="email" id="email" formControlName="email" name="email" required>
      </div>
    </div>
    <div class="input-container">

      <label class="label" for="password">Password:</label>
      <div class="field">

        <input class="input-field" type="password" id="password" formControlName="password" name="password" required>
      </div>
    </div>
    <button class="primary-button" type="submit">Login</button>
  </form>
</div>